@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Italic.ttf") format("ttf");
  font-weight: normal;
  font-style: italic;
}

@mixin font-info-bold {
  font-size: 22px;
  font-weight: 800;
  line-height: 30px;
}

@mixin font-info-thin {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

@mixin font-main-text-small {
  font-size: 14px;
  line-height: 22px;
}

@mixin font-main-text {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;

  @media (max-width: 900px) {
    @include font-main-text-small;
  }
}

@mixin font-title {
  font-size: 56px;
  font-weight: 800;
  line-height: 66px;

  @media (max-width: 1200px) {
    font-size: 40px;
    line-height: 50px;
  }

  @media (max-width: 900px) {
    font-size: 25px;
    line-height: 36px;
  }
}

@mixin font-subtitle-text {
  font-size: 34px;
  line-height: 46px;
  font-weight: 800;

  @media (max-width: 1200px) {
    font-size: 24px;
    line-height: 36px;
  }
}

@mixin font-italic-text {
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  line-height: 26px;

  @media (max-width: 1200px) {
    @include font-main-text-small;
  }
}

$black: #1a1a1a;
$lightBlack: #1b1b1b;
$white: #fdfeff;
$grey: #8d959c;
$blue: #3657d3;

$article-preview-width: 420px;
$article-preview-small-width: 260px;
